@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');

body {
    text-align: center;
    margin: 0;
    min-height: 100vh;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #eccfff55, #eccfff );
    height: 100vh;
}

h1 {
    font-size: 4vw;
    font-family: 'Caveat', "Open Sans";
    margin-top: 5rem;
    margin-bottom: 5rem;
}

p, h2 {
    font-family: 'Noto Sans HK', sans-serif;
}

#riddle {
    margin-bottom: 3rem;
}

#question, #question2 {
    font-size: 2vw;
}

#answer {
    width: 20rem;
}

#pass {
    margin-top: 2rem;
}

.fa-whatsapp, .fa-telegram, .fa-signalapp {
    font-size: 100rem;
}

.button-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    
}

button {
    cursor: pointer;
    font-size: 1.2rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #333;
    outline: none;
    padding: 0.5rem 1.8rem;
    box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}